.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    height: 100%;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    color: white;
}

.midColumn{
    min-width: 796px;
    max-width: 796px;
    margin-top: 60px;
    align-items: center;
    padding-bottom: 20px;
}

.column::-webkit-scrollbar {
    display: none;
}

.subHeader{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #FFECB7;
}

.contentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    background-color: #272524;
    padding-top: 20px;
    padding-bottom: 10px;
    gap:10px;
    max-height: 240px;
    border-radius: 6px;
}

.me{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    width: 100%;
    color: #FFECB7;
}

.profileImage{
    height: 102px;
}

.username{
    text-align: left;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.name {
    font-size: 16px;
    color: #F3AE32;
}

.profileInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    width: 70%;
}

.editContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:5px;
    width: 30%;
    height: 100%;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    width: 50%;
}