.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container::-webkit-scrollbar {
    display: none;
}

.member{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    padding: 5px;
    width: 80%;
    gap: 20px;
    cursor: pointer;
}

.member:hover{
    background-color: #353231;
}

.username{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 15.2727px;
    color: #FFECB7;
}

.profilePhoto{
    height: 33px;
}