.textCard{
    display: flex;
    height: fit-content;
    width: 99%;
    font-family: 'Archivo', sans-serif;
    justify-content: center;
    border-radius: 6px;
}

.editBorder{
    border: 1px solid #DA5E3F;
}

.frontpage{
    background-color: #353231;
}

.projectpage{
    background-color: #272524;
}

.headerText{
    color: #FFECB7;
    font-weight: 400;
    font-size: 36px;
    padding: 20px;
    text-align: center;
    font-family: 'Archivo black', sans-serif;
}

.frontpageheader{
    font-size: 20px;
    padding: 10px;
}

.introduction{
    color: #FFECB7;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}

.frontpageintro{
    font-size: 12px;
    padding: 20px 10px;
}

.description{
    color: #FFECB7;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.commonInput{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFECB7;
    width: 95%;
    background: #272524;
    border: 1px solid #272524;
    border-radius: 4px;

    outline: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 15px;
    padding: 12px 16px;
    cursor: text;
}

.commonInput::placeholder{
    color:#AEA486;
}

.headerInput{
    font-size: 36px;
}

.introductionInput{
    text-align: left;
    height: fit-content;
    min-height: 18px;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: vertical;
}

.descriptionInput{
    text-align: left;
    height: fit-content;
    min-height: 18px;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: vertical;
}

.introductionInput:empty:before {
    content:attr(data-placeholder);
    color: gray;
}

.descriptionInput:empty:before {
    content:attr(data-placeholder);
    color: gray;
}