.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    padding-top: 10px;
    gap:4px;
    font-size: 20px;
    height: fit-content;
}

.frontpage{
    font-size: 12px;
}

.container::-webkit-scrollbar {
    display: none;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #454242;
    height: fit-content;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.skillName{
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    color: #FFECB7;
    text-align: center;
    width: 80%;
}

.edit{
    margin-left: 10%;
}

.checkbox{
    width: 10%;
    accent-color: #F3AE32;
}