.container {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
    max-height: 42px;
}

.profileContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: inherit;
    cursor: pointer;
    width: 50px;
}

.profileContainer:hover{
    color:#F3AE32;
}
  
.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:40px;
    width: 208px;
    height: fit-content;
    background-color: #272524;
    z-index: 10;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
}

.menuButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #FFECB7;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    background-color: #272524;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    width:100%;
}
 
.badge {
    position: absolute;
    font-size: 12px;
    top: 8px;
    right: 2px;
    padding: 3px 8px;
    background: #DA5E3F;
    border-radius: 18px;
    color: white;
}

.notificationText{
    text-align: left;
    width: 75%;
}