.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    padding-top: 50px;
}

.columnsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100vh - 50px - 100px);
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: white;
    max-height: calc(100vh - 90px);
    overflow: auto;
    padding-bottom: 20px;
}

.leftColumn{
    width: 25%;
    padding-top: 30px;
}

.rightColumn{
    width: 25%;
    color: black;
}

@media screen and (max-width: 1188px) {
    .rightColumn {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .leftColumn {
        display: none;
    }
}

.midColumn{
    min-width: max(796px,50%);
    align-items: center;
}

.column::-webkit-scrollbar {
    display: none;
    width: 4px;
}
  
.column::-webkit-scrollbar-track {
    height: 10%;
    margin-bottom: 10px;
}
  
.column::-webkit-scrollbar-thumb {
    background:#FFECB7;
    border-radius: 5px;
}

.navbar{
    width: 796px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 80px;
}

.navText{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
    color: #FFECB7;
    text-align: center;
    padding-bottom: 10px;
}

.navText:hover{
    border-bottom: 3px solid #FFECB7;
}

.selected{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 10px;
}

.allColor{
    border-bottom: 3px solid #587D3B;
    color:#587D3B;
}

.musicColor{
    border-bottom: 3px solid #EBE9BF;
    color:#EBE9BF;
}

.webColor{
    border-bottom: 3px solid #A6BDBE;
    color:#A6BDBE;
}

.movieColor{
    border-bottom: 3px solid #F4A8A8;
    color:#F4A8A8;
}

.gamesColor{
    border-bottom: 3px solid #E4C6FA;
    color:#E4C6FA;
}
